DATABASE_URL= # Required used to store data as name suggests dumbass
APP_HOST= # Required if in prod to use with oauth and that shit
WEB_URL= # Required used for oauth redirect thing
HCA_CLIENT_ID= # Required for auth
HCA_CLIENT_SECRET= # Required for auth
SENTRY_DSN= # Optional used for logging
STARDANCE_AUTH_COOKIE= # Optional used for testing
TEST_API_KEY= # Optional used for testing
ADMIN_SLACK_ID= # Optional but needed to get admin access on first login 
WORKER=true # Optional defaults to false if not present
WORKER_KEY= # Optional used for worker auth to orchestrator even the local worker
DEV=true # Optional defaults to false just does random shit